main {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;

    /* if no :target then show first-of-type */
    &:not(:has(:target))>article:first-of-type>section:first-of-type {
        display: flex;
    }

    /* navbar button */
    &>article {

        &>a {
            border: 1px solid #ddd;
            flex-direction: column;
            justify-content: end;
            align-items: center;
            display: flex;
            width: 80px;

            &>h2 {
                font-size: 16px;
            }
        }

        /* navigation destination */
        &>section {

            &:target,
            &:has(:target) {
                display: flex;
            }

            display: none;
            position: absolute;
            background-color: #ddd;


            /* list view item */
            &>article {
                &>a {
                    display: block;
                    height: 100%;

                    &>h3 {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    &>h1 {
        font-size: 0;
    }

    /* shows list view items or view content */
    @media (orientation: portrait) {
        flex-direction: row;
        align-items: end;
        gap: 8px;

        &>article {
            &>a {
                height: 80px;
            }

            &>section {

                flex-direction: column;
                inset: 0 0 80px 0;

                &>article {
                    border: 1px solid blue;

                    &>a {
                        height: 120px;
                    }

                    &>section {

                        &:target,
                        &:has(:target) {
                            transition-timing-function: ease-out;
                            display: flex;
                            opacity: 1;
                            scale: 1;

                            @starting-style {
                                opacity: 0;
                                scale: .7;
                            }
                        }

                        background-color: #777;
                        position: absolute;
                        display: none;
                        opacity: 0;
                        scale: .7;
                        inset: 0;
                        transition-property: opacity, scale, display;
                        transition-timing-function: ease-in;
                        transition-duration: 0.15s;
                        transition-behavior: allow-discrete;
                    }
                }
            }
        }
    }

    /* shows list view items and view content together*/
    @media (orientation: landscape) {
        flex-direction: column;
        align-items: start;
        gap: 12px;

        /* navbar button */
        &>article {
            &>a {
                height: 56px;
            }

            /* navigation destination */
            &>section {

                /* if no :target then show first-of-type */
                &:not(:has(:target))>article:first-of-type>section:first-of-type {
                    display: flex;
                }

                flex-direction: column;
                inset: 0 0 0 80px;

                /* list view item */
                &>article {
                    border: 1px solid red;

                    &>a {
                        height: 100px;
                        width: min(30%, 300px);
                        border: 10px solid yellow;
                    }

                    /* list view content */
                    &>section {

                        &:target,
                        &:has(:target) {
                            display: flex;
                        }

                        display: none;
                        background-color: #777;
                        position: absolute;
                        inset: 0 0 0 min(30%, 300px);
                    }
                }
            }
        }
    }
}